# Fichiers et dossiers générés par Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
*.sdf
*.cache
*.log
*.tlog
*.ipch/
*.ncb
*.aps
*.ilk
*.pdb
*.obj
*.idb
*.opensdf

# Répertoires de build
Debug/
Release/
x64/

# Autres fichiers temporaires
*.exe
*.class
*.tmp
*.bak

# Fichiers d'image à ignorer (si générés automatiquement)
*.jpg
*.png
*.bmp
